.font-design{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
    max-width: 1600px;
    margin: 0;
    padding: 0;
}
.btn{
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-weight: bold;
}
header{
    background-color: #FFF8F3;
    padding: 50px 0 0 0;
    background: url(../images/developer.png), url(../images/header_bg.png);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}
header h1{
    font-size: 45px;
}
header h1 span{
    color: #FD6E0A;
}
header nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 230px;
    
    align-items: center;
}
header ul{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
    font-size: 20px;
}

header a{
    text-decoration: none;
    color: #474747;
}
.banner{
    margin: 46px 38px 0 230px;
    padding: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.banner #person{
    width: 584px;
    vertical-align: middle;
}

.intro h3{
    font-size:45px ;
    font-weight: 600;
    color: #474747;
}
.intro h1{
    font-size:85px ;
    color: #181818;
}
.intro p{
    font: 18px ;
    color: #757575;
}
.intro .btn{
    margin: 30px 30px 184px 0;
}
#contact{
    padding: 18px 35px;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    background-color: #fafafa;
    color: #FD6E0A;
    font-weight: bold;
}
.abt{
    margin: 130px 230px 0 230px;
    padding: 131px 157px;
    background-color: #FFF8F3;
    border-radius: 10px;
}
.abt h2{
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}
.abt p{
    font-size: 18px;
    margin-bottom: 30px;
    color: #757575;
}
.abt ul{
    list-style: none;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
   
}
.extra{
    margin: 130px 230px 0 230px;
}
.extra-cnt{
   margin: 0 157px;
}
.extra h2{
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}
.extra p{
    margin-bottom: 50px;
    font-size: 18px;
    color: #757575;
}